<p>{{title}}</p>
<form action="" method="post" [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
<div>
    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username" id="username" 
    formControlName="usernameControl">
</div>
<div>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" 
    formControlName="passwordControl">
</div>
<button type="submit" [disabled]="!loginGroup.valid">Log-in</button>
<button (click)="Reset()">Reset</button>
<a [routerLink]="['/person']"> link </a>
</form>


<div>
    <p>{{loginGroup.value | json}}</p>
</div>
<div>
    <p>{{loginGroup.valid}}</p>
</div>

