<div class="backcol">
    <div id="left-element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item routerLink="/login">
            <mat-icon>https</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/person" [disabled]="!isAuth">
            <mat-icon>home</mat-icon>
          <span>Index</span>
        </button>
      </mat-menu>
    </div>
    <div id="right-element">
      <button [disabled]="!isAuth" mat-raised-button (click)="logOut()" class="logout"><mat-icon>directions_run</mat-icon><legend>logout</legend></button>
    </div>
</div>



