<mat-card class="card-personABM form-class" id="center-container">
    <mat-card-header>
        <div mat-card-avatar class="material-symbols-outlined"></div>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>Datos personales</mat-card-subtitle>
      </mat-card-header>
<mat-card-content>
<form action="" method="post" [formGroup]="personGroup" 
(ngSubmit)="onSubmit()">
<div>
    <mat-form-field appearance="fill" class="separation">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="FirstName" id="FirstName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="separation">
        <mat-label >Apellido:</mat-label>
        <input matInput type="text" formControlName="LastName" id="LastName">
        </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="width-field">
    <mat-label >Email:</mat-label>
    <input matInput type="email" formControlName="Email" id="Email">
    </mat-form-field>
</div>
<div formGroupName="Address">
    <div>
        <mat-form-field appearance="fill" class="separation">
        <mat-label >Calle:</mat-label>
        <input matInput type="text" formControlName="Street" id="Street">
        </mat-form-field>

        <mat-form-field appearance="fill"class="separation">
            <mat-label >Numero:</mat-label>
            <input matInput type="text" formControlName="Number" id="Number">
            </mat-form-field>
    </div>
    
    <div>
        <mat-form-field appearance="fill" class="width-field">
        <mat-label >Ciudad:</mat-label>
        <input matInput type="text" formControlName="City" id="City">
        </mat-form-field>
    </div>
</div>
<div>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!personGroup.valid">Editar</button>
    <button mat-stroked-button color="accent" (click)="back()">Volver</button>
</div>
</form>


