<p>{{title}}</p>
<form action="" method="post" [formGroup]="personGroup" 
(ngSubmit)="onSubmit()">
<div>
    <label for="FirstName">Nombre:</label>
    <input type="text" formControlName="FirstName" id="FirstName">
</div>
<div>
    <label for="LastName">Apellido:</label>
    <input type="text" formControlName="LastName" id="LastName">
</div>
<div>
    <label for="Email">Email:</label>
    <input type="email" formControlName="Email" id="Email">
</div>
<div formGroupName="Address">
    <div>
        <label for="Street">Calle:</label>
        <input type="text" formControlName="Street" id="Street">
    </div>
    <div>
        <label for="Number">Numero:</label>
        <input type="text" formControlName="Number" id="Number">
    </div>
    <div>
        <label for="City">Ciudad:</label>
        <input type="text" formControlName="City" id="City">
    </div>
</div>
<button type="submit" [disabled]="!personGroup.valid">Crear</button>
</form>

<p>{{personGroup.value | json}}</p>

<hr>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Direccion</th>
            <th></th>
        </tr>
                <tr *ngFor="let p of persons">
                    <td>{{p.id}}</td>
                    <td>{{p.firstName}}</td>
                    <td>{{p.lastName}}</td>
                    <td>{{p.email}}</td>
                    <td>{{p.address.street}} {{p.address.number}}</td>
                    <td>
                        <button (click)="deleteById(p.id!)">X</button>
                        <button (click)="getDetails(p.id!)">Detalles</button>
                    </td>
                </tr>      
    </table>
</div>
<button (click)="getAllPersons()">actualizar</button>
<hr>
<p>{{persons | json}}</p>



